#basic-addon1 {
    background-color: #008200; 
    border:1px solid black;
}

#kolom {
    color:black;
    font-family: Copperplate; 
    font-size: 60px; 
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 4px; 
    height:2000px;
}

#boekentabel {
    color:black;
    font-family: Copperplate; 
    font-size: 14px; 
    background-color: white; 
    padding: 20px 20px 1000px 20px; 
    border-radius: 4px; 
    height: 2000px;
}

#titleReg, #authorReg, #isbnReg, 
#bookIdUpd, #titleUpd, #authorUpd, #isbnUpd,
#bookIdArch {
    background-color: white; 
    border:1px solid black;
}

#boventekstInvulkader {
    font-family:Arial, Helvetica, sans-serif bold;
    font-size: 45px;
}

#boventekstInvulkaderIndex {
    font-family:Arial, Helvetica, sans-serif bold;
    font-size: 45px;
}

#algemeneButton {
    border:1px solid black;
    font-size: 15px; 
    float: right; 
    width: 100px;
}

#books {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
}

#persoonlijkeGegevens {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
}

#searchbooktitle {
    float: right; 
    border:1px solid black;
    width: 350px;
}

